html
{
	height: 100%;
}

body 
{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background: #ddddee;
	font-size: 100%;
	height: 100%;
}

h1 
{
	font-size: 2.2em; 
	weight: normal;
	color: #ffffff; 
}

a 
{
	color: #ffcc00;
}

#wrapper
{
	height: 100%;
}

#header, #main
{ 
	background: #aaaaff; 
}

#header
{
	ZZZheight: 110px; 
}

#header-logo, #header-nav 
{
	height: 57px;
}

#header-title
{
	height: 53px;
	line-height: 53px;
	background: #000088;
}

#header-version
{
	font-size: 0.8em;
	padding: 0.5em;
	text-align: right; 
	float: right;
}

#t-alert-container
{
	padding: 10px;
	background: #bbbbff; 
	ZZZmin-height: 48px; 
	position: fixed;  
	left: 50%; 
	width: 80%;
	margin-left: -40%;
}


#main
{
	 
}

#main-wrapper 
{
	margin: 78px auto 0;
	display:table;
	height:300px;
	width: 100%;
}

#main-inner
{
	width: 100%;
	display:table-cell; 
	vertical-align:middle;
}


#footer
{
	background: #000088;
	font-size: 0.8em;
	text-align: center;
	padding: 1em;
	color: #eeeeff;
}

th.customer
{
	width: 150px;
}


/* stylesheet for menujs.net menus */
/* reset default styles */
#menu, #menu ul 
{
	margin: 0;
	padding: 0;
	text-transform: lowercase;
}

#menu li 
{
	list-style-type: none;
}

#menu 
{
	float: left;
	margin-top: 5px;
}

/* first level */
#menu li, #menu a 
{
	float: left;
	ZZZwidth: 100px;
	text-decoration: none;
}

#menu a 
{
	display: block;
	ZZZbackground: #EEE;
	padding: 3px 12px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#menu a.submenu 
{
	-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
}

#menu a:hover, #menu a.menu_open 
{
	background: rgb(0, 0, 0); 
	background: rgba(0, 0, 0, 0.4);
}

/* second level and up */
#menu ul 
{
	visibility: hidden;
	position: absolute;
	width: 242px;
	-webkit-border-radius: 10px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 10px;
	-moz-border-radius-topleft: 0;
	border-radius: 10px;
	border-top-left-radius: 0;

}

#menu ul a 
{
	width: 210px; background : #333;
	padding: 0 16px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px; 
    background: rgb(0, 0, 0); 
	background: rgba(0, 0, 0, 0.4);
}

#menu ul a:hover, #menu ul a.menu_open 
{ 
	background: rgb(0, 0, 0); 
	background: rgba(0, 0, 0, 0.6);
}

/* third level (colors) */
#menu ul ul a 
{
	background: #CCC;
}

#menu ul ul a:hover 
{
	background: #BBB;
}